* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: #393333;
    margin-bottom: 80px;
    z-index: 99;
}

a {
    all: unset;
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 5px 15px;
    font-size: xx-large;
    margin: 0 120px;
    cursor: pointer;
}

a:hover {
    background-color: #43434b;
    border-radius: 20px;
}

.profileImg {
    margin-right: 200px;
}

.heroImg {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    width: 99vw;
    height: 800px;
    background-blend-mode: darken;
}

main {
    height: auto;
    scroll-behavior: auto;
    background-attachment: fixed;
    background-image: url('https://up.yimg.com/ib/th/id/OIP.R-Yy6mvB9xaae1EABtr4-QHaES?pid=Api&rs=1&c=1&qlt=95&w=166&h=96');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

.heroText {
    width: 1500px;
    font-weight: 800;
    font-size: xx-large;
    color: #fafafa;
    height: fit-content;
    position: absolute;
    top: 250px;
    left: 250px;
}

.tripcontainer {
    position: relative;
    top: 50px;
    padding-top: 20px;
    width: 1100px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    text-align: center;
    border-radius: 10px;
}

.tripcontainer label {
    position: absolute;
    text-align: center;
    color: #393333;
    bottom: 55px;
    left: 50px;
}

.tripcontainer span a {
    all: unset;
    text-decoration: none;
    position: absolute;
    bottom: 40px;
    right: 80px;
    background-color: orangered;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transform: all 5s 1s ease-in-out;
}

.tripcontainer span a:hover {
    color: aqua;
    transform: scale(1.1);
}

input#tour[type="date"] {
    position: absolute;
    bottom: 40px;
    left: 400px;
    width: 300px;
    height: 70px;
    text-align: center;
    font-size: 35px;
    border-radius: 15px;
}

/*Services Section*/
#services {
    position: relative;
}

.serviceParent {
    position: relative;
    top: 100px;
    display: grid;
    margin: 100px auto;
    width: 1600px;
    height: 600px;
    /* border: 1px solid; */
    background-color: #037ffa;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-evenly;
    align-items: center;
}

.serviceBox {
    text-align: center;
    position: relative;
    top: 50px;
    margin: 50px 0;
    height: 350px;
    border-radius: 10px;
    background-color: #393939;
    box-shadow: 5px 5px 5px rgba(54, 50, 50, 0.4);
    /* border: 1px solid; */
}

.serviceHead {
    margin-top: 20px;
    position: relative;
    top: 280px;
    text-decoration: double underline #fff;
    text-align: center;
    font-size: 38px;
    font-weight: 900;
    z-index: 2;
}

.serviceBox h1 {
    margin-top: 20px;
}

.serviceImg {
    margin-top: 20px;
    border-radius: 10px;
    width: 200px;
    height: 250px;
}

/*Places Section*/
#places {
    position: relative;
    height: auto;
}

.placesParent {
    display: grid;
    margin: 50px auto;
    position: relative;
    top: 100px;
    width: 1700px;
    height: 1100px;
    background-color: #037ffa;
    /* border: 1px solid; */
    /* grid-template-columns: repeat(6, 250px);
    grid-template-rows: repeat(2,450px); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.placesImg {
    width: 200px;
    height: 200px;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.locations {
    position: relative;
    top: -10px;
    width: 250px;
    height: 300px;
    margin: 50px 0;
    text-align: center;
    font-size: xx-large;
    background-color: #393333;
    color: #fff;
    box-shadow: -5px 5px 5px rgba(54, 50, 50, 0.4);
    border-radius: 10px;
    border: 1px solid;
}

.placesH1 {
    position: relative;
    top: 180px;
    left: 50%;
    z-index: 2;
    height: 50px;
    transform: translateX(-50%);
    width: 1700px;
    font-size: 38px;
    text-align: center;
    padding-top: 20px;
    text-decoration: double underline #fff;
    background-color: #037ffa;
}

/*About Section*/

#about {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 60px;
    width: 100%;
    height: 900px;
}

.aboutSection {
    position: relative;
    top: 100px;
    left: 100px;
    text-align: center;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    height: 500px;
    background-color: #037ffa;
    color: #fff;
    padding: 20px;
    border-radius: 60px 0px;
}

.reviewsBox {
    position: relative;
    left: 0px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 150px;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 20px;
}

.reviews {
    padding-top: 10px;
    width: 250px;
    height: 200px;
    background-color: #393333;
    margin: 10px;
    border-radius: 20px;
}

.reviews:nth-child(1) .reviewSpan::after {
    content: '⭐⭐⭐⭐⭐';
}

.reviews:nth-child(2) .reviewSpan::after {
    content: '⭐⭐⭐';
}

.reviews:nth-child(3) .reviewSpan::after {
    content: '⭐⭐⭐⭐';
}

.reviews:nth-child(4) .reviewSpan::after {
    content: '⭐⭐⭐⭐⭐';
}

/*Top page*/
.stickParent {
    width: 100vw;
    height: auto;
}

/* .top {
    position: sticky;
    z-index: 100;
    right: 100px;
} */
.icon {
    position: sticky;
    /* top: 1200px; */
    top: 750px;
    /* right: 10px; */
    left: 2000px;
    z-index: 20;
    font-size: 48px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #393939;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

}

.top a:hover {
    background-color: #43434b;
}

/*Footer Section*/

#footerContainer {
    position: relative;
}

.footer {
    min-height: 250px;
    background-color: rgb(42, 38, 38);
}

.footerRights {
    position: relative;
    padding: 15px 0;
    bottom: -100px;
    left: 50%;
    border-top: 1px #fafafa solid;
    width: 98vw;
    transform: translateX(-50%);
}

.socialMedia {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.socialBox {
    position: relative;
    top: 40px;
}

.socialImg {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.socialImg:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.4);
}